BasedOnStyle: Google

AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IncludeBlocks: Preserve
IndentCaseLabels: true
PointerAlignment: Right

# undecided:

# Cpp11BracedListStyle: true
# SpaceBeforeCpp11BracedList: false

# unavailable:

# https://reviews.llvm.org/D31635
# ReferenceAlignment: Left

# https://reviews.llvm.org/D69764
# ConstPlacement: West
