BasedOnStyle: Google

AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IncludeBlocks: Preserve
IndentCaseLabels: true
PointerAlignment: Right

# undecided ...

# Cpp11BracedListStyle: true
# SpaceBeforeCpp11BracedList: false

# unavailable ...

# https://reviews.llvm.org/D31635
# ReferenceAlignment: Left
