---
Checks: "bugprone-*,
         modernize-*,
         performance-*,
         readability-*,
         -bugprone-branch-clone,
         -bugprone-easily-swappable-parameters,
         -bugprone-macro-parentheses,
         -clang-analyzer-optin.performance.Padding,
         -clang-diagnostic-unused-command-line-argument,
         -modernize-concat-nested-namespaces,
         -modernize-use-nodiscard,
         -modernize-use-trailing-return-type,
         -performance-enum-size,
         -readability-convert-member-functions-to-static,
         -readability-enum-initial-value,
         -readability-named-parameter,
         -readability-qualified-auto,
         -readability-redundant-member-init,"
CheckOptions:
  - key: 'readability-magic-numbers.IgnoredIntegerValues'
    value: '1;2;3;4;5'
  - key: 'cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues'
    value: '1;2;3;4;5'
  - key: 'readability-identifier-length.IgnoredVariableNames'
    value: 'id|_'
  - key: 'readability-identifier-length.IgnoredParameterNames'
    value: 'id'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
