*.swp

Makefile
Makefile.in
aclocal.m4
config.status
configure
libtool
autom4te.cache/
m4/
build-aux/

.deps/
.libs/

*.Plo
*.la
*.lo
*.o

*.tar.*

*_generated.h

*.log
*.trs

quinclas-tradingapi.pc
include/quinclas/tradingapi.h
tests/tradingapi-tests
examples/strategy/example-strategy
examples/gateway/example-gateway
