assets/* linguist-documentation
cmake/* linguist-vendored
third_party/* linguist-vendored

doxygen/Doxyfile.in linguist-vendored

include/* linguist-vendored=false
test/* linguist-vendored=false

*.h.in linguist-language=C++
