[submodule "roq-cmake"]
	path = cmake
	url = https://github.com/roq-trading/roq-cmake.git
	ignore = dirty
[submodule "roq-scripts"]
	path = scripts
	url = https://github.com/roq-trading/roq-scripts.git
	ignore = dirty
