# vim

*.swp
*.swo


# autotools

Makefile
Makefile.in
aclocal.m4
config.status
configure
config.log
libtool

.deps/
.libs/

autom4te.cache/
m4/
build-aux/

*.Plo
*.la
*.lo
*.o

*.tar.*


# cmake

CMakeCache.txt
DartConfiguration.tcl
install_manifest.txt
CMake*.in

CMakeFiles/
Testing/
lib/

*.cmake

*.a
*.o
*.so

build/


# gtest

*.log
*.trs


# doxygen

doxygen/Doxyfile
doxygen/doxygen-build.stamp
doxygen/html
doxygen/xml


# cppcheck

compile_commands.json


# project specific

roq-api.pc

include/roq/api.h

roq-api-test
