[submodule "roq-m4"]
	path = m4
	url = https://github.com/roq-trading/roq-m4
	ignore = dirty
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
