assets/* linguist-documentation
cmake/* linguist-vendored
m4/* linguist-vendored
third_party/* linguist-vendored

include/* linguist-vendored=false
test/* linguist-vendored=false

*.in.h linguist-language=C++

schema/cpp/*.json linguist-language=C++
